{{#each models}}
{{#if this.attributes.dropdown}}
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" id="{{this.attributes.id}}">{{this.attributes.title}} <span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="{{this.attributes.id}}">
        {{#each this.attributes.dropdown}}
        <li><a href="{{link}}">{{title}}</a></li>
        {{/each}}
    </ul>
</li>
{{else}}
<li><a href="{{this.attributes.link}}">{{this.attributes.title}}</a></li>
{{/if}}
{{/each}}
