<style>
	div.post, div.reply {   
    	position: absolute;
    	border: solid 1px black;
    	margin-top: 30%;
    	background-color: white;
    	text-align: right
    	width: 160px;
	}
	
	#info td {padding-top: 8px; padding-bottom: 8px;}
	
	#heading th {padding-top: 8px; padding-bottom: 8px;}
</style>

<script>
	function showModal(id) {
    	$("#" + id).fadeIn('slow');
	}
	
	function hideModal(id) {
    	$("#" + id).fadeOut('slow');
	}
	
	$(function() {
		$("td[colspan=4]").find("#expand").hide();
		$("input").click(function(event) {
			event.stopPropagation();
        	var $target = $(event.target);
        	
        	if ($target.closest("td").attr("colspan") > 1) {
            	$target.slideUp();
        	} else {
            	$target.closest("tr").next().find("#expand").slideToggle();
        	}                    
    	});
	});
</script>

<div id="post" class="modal">
  	<div class="modal-dialog">
    	<div class="modal-content">
     		<div class="modal-header">
     			<div style="margin-bottom: 10px; padding-left: 15px;">New Post
        			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick=hideModal('post')>×</button>
       			</div>
       			<input type="text" class="form-control" id="inputEmail" placeholder="Title">
       		</div>
     		<div class="modal-body">
        		<p>
        			<textarea class="form-control" rows="10" id="textArea" style="resize: none;" placeholder="Description"></textarea>
        		</p>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal" onclick=hideModal('post')>Close</button>
        		<button type="button" class="btn btn-primary">Post</button>
      		</div>
    	</div>
  	</div>
</div>

<div id="reply" class="modal">
  	<div class="modal-dialog">
    	<div class="modal-content">
     		<div class="modal-header">
     			<div style="margin-bottom: 10px; padding-left: 15px;">Reply Post
        			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick=hideModal('reply')>×</button>
       			</div>
       			<input type="text" class="form-control" id="inputTitle" placeholder="RE:">
       		</div>
     		<div class="modal-body">
        		<p>
        			<textarea class="form-control" rows="10" id="textArea" style="resize: none;" placeholder="Message"></textarea>
        		</p>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal" onclick=hideModal('reply')>Close</button>
        		<button type="button" class="btn btn-primary">Reply</button>
      		</div>
    	</div>
  	</div>
</div>

<div id="page-wrap">
	<h1 style="text-align: center;">Shelter/Pantry</h1>

	<div class="col-md-12" style="margin-bottom: 10px; margin-top: 10px;">
		<input type="button" class="btn btn-primary" value="New Post" style="float: right;" onclick=showModal('post') />
	</div>

	<table style="padding: 20px; table-layout: fixed; width: 100%;">
		<thead>
			<tr id="heading">
				<th width="4%"></th>
				<th width="76%">Title</th>
				<th width="10%">Category</th>
				<th width="10%">Date</th>
			</tr>
		</thead>
		<tbody>
			{{#each models}}
			<tr id="info" style="border-top: solid 1px black;">
				<td width="3%"><input type="button" class="btn btn-info btn-xs" value="+"></td>
				<td id="title" width="77%">{{this.attributes.title}}</td>
				<td width="10%">Shelter</td>
				<td width="10%">04/05/2014</td>			
			</tr>
			<tr style="border-bottom: solid 1px black;">
				<td colspan="4">
					<div id="expand" class="jumbotron" style="margin-left: 1%; margin-right: 1%;">
						<div>{{this.attributes.orgName}}</div>
						<div>{{this.attributes.email}}</div>
						<div>{{this.attributes.phoneNumber}}</div>
						<div>{{this.attributes.address}}</div><br>
						<div>{{this.attributes.description}}</div>
						<button type="button" class="btn btn-primary" style="margin-top: 5%;" onclick=showModal('reply')>Reply</button>
					</div>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>