{{#each models}}
<tr>
    <td>{{this.attributes.orgName}}</td>
    <td>{{this.attributes.address}}</td>
    <td>{{this.attributes.phoneNumber}}</td>
    <td>{{this.attributes.email}}</td>
    <td>{{this.attributes.Type}}</td>
    <td>{{this.attributes.itemsNeeded}}</td>
</tr>
{{/each}}