{{#each models}}
<ul id="{{this.attributes.orgName}}">
    <li>{{this.attributes.orgName}}</li>
    <li>{{this.attributes.address}}</li>
    <li>{{this.attributes.phoneNumber}}</li>
    <li>{{this.attributes.email}}</li>
    <li>{{this.attributes.Type}}</li>
    <li>{{this.attributes.itemsNeeded}}</li>
</ul>
{{/each}}